@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Original+Surfer&display=swap');

header {
    border: 0.2px solid;
    background-color: #275279;
}

body{
    background-color: #19314E;
}

a:link{
    text-decoration: none;
}

h1 {
    font-family: 'Caesar Dressing';
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: 'Original Surfer';
    color: #FFFFFF;
    text-align: center;
}