@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Original+Surfer&display=swap');

header {
    border: 0.2px solid;
    background-color: #275279;
}

body{
    background-color: #19314E;
}

a:link{
    text-decoration: none;
    text-decoration-skip: none;
    color: #FFFFFF;
}

h1 {
    font-family: 'Caesar Dressing';
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: 'Original Surfer';
    color: #FFFFFF;
    text-align: center;
}

h4 {
    font-family: 'Original Surfer';
    color: #FFFFFF;
    text-align: center;
}

ul {
    list-style-type: none;
    font-family: 'Original Surfer';
    color: #FFFFFF;
}

li {
    color: #FFFFFF;
}

#cad {
    font-family: "Original Surfer";
    color: #FFFFFF;
    position: absolute;
    top: 250px;
    bottom: 100px;
    left: 450px;
    right: 10px;
    font-size: 25px;
}

.caixa {
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    border: none;
    font-family: 'Original Surfer';
    color: black;
    align-items: center;
    font-size: 20px;
}